<script type="text/javascript">

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem( 'firstLoad' );
  }
})();


$('.industries_wrapper').height($(window).height());

$('.construction_main').height($(window).height());

$('.constrution_main_content').height($(window).height());




if($(window).height()<700){
	$('.industries_btns').css('bottom','auto');
	$('.industries_btns').css('top','10px');
}

</script>

<section class="main_wrapper">
	<article class="construction_main">
    	<section class="constrution_main_content">
        	<article>
            	<div class="construction_content">
                	<h1 class="main_title1">CONSTRUCTION</h1>
                    Baalbaki’s activities in the construction industry are focused
                    on prefabricated houses for the local market as well as humanitarian
                    organizations. Baalbaki prefabricated houses
                    include offices, workers housing, public and private showers
                    and toilets, kiosks, and others. <br><br>
                    In addition, Baalbaki offers PU insulated sandwich panels,
                    decorative insulated plaster, water repellents, ceramic and
                    tile adhesive, interlock and sidewalks to the building sector.
                </div>
            	<img src="images/tortules/construction_main_pic.png" class="construction_main_pic">
            </article> 
        </section>
    </article>
    
    <article class="contruction_sub_sec_wrapper">
    	<div class="white_overlay2">
        	<div class="sub_sec_area">
            	<bdo class="white_line"></bdo>
                
            	<section class="sub_area_content">
                	<div class="sec_shape">
                    	<bdo class="shape1"></bdo>
                        <bdo class="shape2"></bdo>
                    </div>
                    
                    <aside>
                    	<h1>Prefabricated Houses</h1>
                        Prefabrication is not new. However, Baalbaki prefabricated houses
                        add a completely new concept as we combine old-style modular concepts
                        with a customized approach, allowing our customers to
                        choose a basic design and adjust it according to their tastes and
                        needs.<br><br>
                        Our prefabricated houses are built on a lightweight steel skeleton surrounded
                        and covered by pre-painted galvanized steel PU insulated
                        sandwich panels; they can be easily assembled and dismantled and
                        are suitable for transportation.
                        <div><a href="Dummy file.docx" target="_blank" class="gray_link">Rethinking Architecture, Download file</a></div>
                    </aside>
                </section>
                
                <section class="sub_area_content">
                	<div class="sec_shape">
                    	<bdo class="shape1"></bdo>
                        <bdo class="shape2"></bdo>
                    </div>
                    
                    <aside>
                    	<h1>PU insulated Sandwich Metal Panels</h1>
                         Our company's success depends on our customers' success.…<br><br>
                        When it comes to sandwich panels, we produce the best-selling PU
                        insulated panels for the Industrial steel buildings, cold rooms, prefabricated
                        rooms, or hygiene facilities. Our panels are produced to meet the
                        most stringent fire codes using high quality galvanized steel with different
                        kinds of finishes.<br><br>
                        We are primed for big business opportunities, as our products are well
                        recommended by many consultants and engineers.
                        <div><a href="Dummy file.docx" target="_blank" class="gray_link">Download file (technical data sheet) + photos</a></div>
                        <div class="gray_link">The best sandwich panels on the market could be yours…..</div>
                    </aside>
                </section>
                
                <section class="sub_area_content">
                	<div class="sec_shape">
                    	<bdo class="shape1"></bdo>
                        <bdo class="shape2"></bdo>
                    </div>
                    
                    <aside>
                    	<h1>Plaster and Water Repellant</h1>
                        With years of industry leadership in providing construction material,
                        Baalbaki has the experience and expertise tailored to meet your exact
                        requirements. In 2008, our company has introduced various types of
                        ready mixed insulated cement based plasters that offer thermal insulation
                        as well as water insulation. And in 2010, we added the cement
                        based powder tile adhesive and the water proofing insulation material
                        to the market.
                        <div><a href="Dummy file.docx" target="_blank" class="gray_link">Download file</a></div>
                        <div class="gray_link">Loyal customers</div>
                    </aside>
                </section>
                
                <section class="sub_area_content">
                	<div class="sec_shape">
                    	<bdo class="shape1"></bdo>
                        <bdo class="shape2"></bdo>
                    </div>
                    
                    <aside>
                    	<h1>Light blocks, Interlocks, Sidewalks</h1>
                        In 2001, Baalbaki started a thorough research and development to
                        innovate insulated hollow blocks used in the nonbearing walls in buildings.
                        In 2007, we introduced Baalbaki EPS based Light Weight Insulated
                        Cement Block and acquired a patent under the number 5619 dated
                        2007/6/18. In 2010, Baalbaki started producing the Sandwich Light
                        Weight Blocks that are considered a perfect solution for thermal insulation,
                        in addition to their high compressive strength.<br><br>
                        And it's just the 'beginning'…………………
                        <div><a href="Dummy file.docx" target="_blank" class="gray_link">Download file</a></div>
                    </aside>
                </section>
            </div>
        </div>
    </article>
</section>