
<section class="main_wrapper">
	<article class="newsroom_img">
    	<div id="newsCarousel" class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-pause-on-hover="true" data-cycle-pager=".banner-pager" data-cycle-speed="200">
            
            </div>
    </article>

	<div class="height-25"></div>
    
    <article class="newsroom_wrapper each_news_wrapper">
        <div class="banner-pager"></div>
        
    	<div class="newsroom_content">
        	<h1 style="margin-bottom:25px;">{{project.news.title}}</h1>
            {{project.news.content}}
        </div>

        <article class="each_video_wrapper" ng-if="project.news.videoLink">

           <object width="100%" height="565"
                        data="https://www.youtube.com/embed/{{project.news.videoLink}}">
                    </object>  
              
        </article>
    </article>
</section>