
<script type="text/javascript">
$('.glance').height($(window).height());


$('.about_us_main_wrapper').height($(window).height());

setTimeout(function(){ 
      $('#timeline').animate({opacity: 1}, 1800);
    }, 500);

</script>

<script async type="text/javascript" src="includes/woopra.js"></script>
	<script src="includes/ga.js" async type="text/javascript"></script>
	<script src="includes/jquery_002.js"></script>
	<script>
		$(function(){
			$().timelinr({
				arrowKeys: 'true'
			})
		});
	</script>



<section class="main_wrapper about_us">


<section class="glance" id="glance">
        <article class="about_us_main_wrapper">
        	<div class="milestone_wrapper">
	        		<section>
	        			<div id="timeline">
						
						<ul style="width: 1000px; margin-left: 250px;" id="dates">
							<li><a href="#1963">1963</a></li>
							<li><a href="#1966">1966</a></li>
							<li><a href="#1973">1973</a></li>
							<li><a href="#1974">1974</a></li>
							<li><a href="#1975">1975</a></li>
							<li><a href="#1977">1977</a></li>
							<li><a href="#1978">1978</a></li>
							<li><a href="#1979">1979</a></li>
							<li><a href="#1980">1980</a></li>
							<li><a href="#1983">1983</a></li>
							<li><a href="#1990">1990</a></li>
							<li><a href="#1992">1992</a></li>
							<li><a href="#1994">1994</a></li>
							<li><a href="#1998">1998</a></li>
							<li><a href="#2000">2000</a></li>
							<li><a href="#2001">2001</a></li>
							<li><a href="#2003">2003</a></li>
							<li><a href="#2004">2004</a></li>
							<li><a href="#2005">2005</a></li>
							<li><a href="#2006">2006</a></li>
							<li><a href="#2010">2010</a></li>
							<li><a href="#2014">2014</a></li>
						</ul>

						<ul id="issues">
							<li id="1963" class="year1963">
								<article>
								Marketing consultant for 30 leading industrial concerns 	
								</article>	
							</li>
							<li id="1966" class="year1966">
								<article>
								Established Baalbaki Real Estate & Investment Co. in Beirut 
								</article>
							</li>
							<li id="1973" class="year1973">
								<article>
								Established Unimetco trading house in Paris  
								</article>
							</li>
							<li id="1974" class="year1974">
								<article>
								Participated in the establishment of Link-Seas export Journal - UK
								</article> 
							</li>
							<li id="1975" class="year1975">
								<article>
								Purchased stakes in A Grantham Limited-UK for army wear
								</article>
							</li>
							<li id="1977" class="year1977">
								<article>
								Acquired shares in BLOM Bank sal – Lebanon
								</article>
							</li>
							<li id="1978" class="year1978">
								<article>
								Organized the first Norwegian Trade Fair in Jordan
								</article>
							</li>
							<li id="1979" class="year1979">
								<article>
								Acquired the franchise of Natalys, French children wear and accessories
								</article> 
							</li>
							<li id="1980" class="year1980">
								<article>
								Established the Norwegian Export Institution in Beirut 
								</article>
							</li>
							<li id="1983" class="year1983">
								<article>
								Established a distribution network with retail outlets for HVAC indutry
								</article>
							</li>
							<li id="1990" class="year1990">
								<article>
								Established the Jordanian Exporter Company LLC and organized the first International trade fair in Jordan.
								</article> 
							</li>
							<li id="1992" class="year1992">
								<article>
								Established an Expandable Polystyrene Plant in Syria
								</article>
							</li>
							<li id="1994" class="year1994">
								<article>
								Established first Polyurethane System House in Syria
								</article>
							</li>
							<li id="1998" class="year1998">
								<article>
								Organized the first ME Polyurethane Symposium  in cooperation with Bayer AG
								</article>
							</li>
							<li id="2000" class="year2000">
								<article>
								Established a production unit for flexible foam
								</article>
							</li>
							<li id="2001" class="year2001">
								<article>
								Purchased 500,000 SQM of farm land in Syria 
								</article>
							</li>
							<li id="2003" class="year2003">
								<article>
								Participated in the establishment of BSO bank in Syria
								</article> 
							</li>
							<li id="2004" class="year2004">
								Established the first polyester plant in MENA
							</li>
							<li id="2005" class="year2005">
								<article>
								Finalized phase 1 of Baalbaki Industrial Zone  on a 250,000sqm land
								</article>
							</li>
							<li id="2006" class="year2006">
								<article>
								Finalized phase 2 of Baalbaki Industrial Zone
								</article> 
							</li>
							<li id="2010" class="year2010">
								<article>
								Established BID Holding in Syria for real estate development.
								</article> 
							</li>
							<li id="2014" class="year2014">
								<article>
								Finalized the construction of a 30,000 square meter warehouse facility in Alkin.
								</article> 
							</li>
							
						</ul>
						
						<a href="#" id="next">+</a>
						<a href="#" id="prev">-</a>

						</div>
					</section>
				</div>
        	</div>
        </article> 
    </section>


</section>