<script type="text/javascript">

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem( 'firstLoad' );
  }
})();


$('.industries_wrapper').height($(window).height());

$('.construction_main').height($(window).height());

$('.constrution_main_content').height($(window).height());



</script>


<section class="main_wrapper">
	<article class="construction_main">
    	<section class="constrution_main_content">
        	<article>
            	<div class="construction_content">
                	<h1 class="main_title1">PU CHEMICAL</h1>
                    Polyurethane (Known as PU or PUR) is a synthetic material
                    (Polymer) that is used in a wide range of diverse industries
                    including, among others, automotive, furniture, construction,
                    refrigeration, and footwear industries.<br><br>
                    Baalbaki started in the early nineties the first Polyurethane
                    system house in the Middle East producing raw material, for
                    rigid, flexible, elastomeric and integral skin polyurethane
                    foam. In 2006, Baalbaki started in-house production of Polyester
                    Polyols which allowed for backward integration in its
                    supply chain, giving Baalbaki a strong market position.                     
                </div>
            	<img src="images/tortules/pu_main_pic.png" class="pu_main_pic">
            </article> 
        </section>
    </article>
    
    <article class="contruction_sub_sec_wrapper">
    	<div class="white_overlay2">
        	<div class="sub_sec_area">
            	<bdo class="white_line"></bdo>
                
            	<section class="sub_area_content">
                	<div class="sec_shape">
                    	<bdo class="shape1"></bdo>
                        <bdo class="shape2"></bdo>
                    </div>
                    
                    <aside>
                    	<h1>Flexible & Foam Mattresses</h1>
                        Excellence in innovation means thinking beyond existing products. Due
                        to the diversity of polyurethane foam applications, Baalbaki combined
                        its knowledge and experience and decided in 1999 to establish a continuous
                        line for the production of Polyurethane flexible foam.<BR><BR>
                        Polyurethane flexible foams make our daily lives safer and more comfortable
                        by offering high quality mattresses of different thicknesses,
                        densities and sizes.
                        <div><a href="Dummy file.docx" target="_blank" class="gray_link">Download file & buy sweet dreams</a></div>
                    </aside>
                </section>
                
                <section class="sub_area_content">
                	<div class="sec_shape">
                    	<bdo class="shape1"></bdo>
                        <bdo class="shape2"></bdo>
                    </div>
                    
                    <aside>
                    	<h1>Polyurethane Systems</h1>
                        Polyurethane is an important soling material in the footwear industry.
                        Baalbaki, as an independent supplier, has the largest capacity of polyurethane
                        raw materials and Polyurethane systems in the Middle East.
                        Polyurethane systems are used to produce high performance sports
                        shoes, slippers, and casual shoes. Polyurethanes also offer a tremendous
                        scope for quality with continuous possibility for new applications.
                        As such there remains a large potential of growth in the Polyurethanes
                        industry with demand expected to double every five to seven years.<br><br>
                        Simply input, it is the one Material which rules them all & Baalbaki manufactures
                        it with confidence…
                        <div><a href="Dummy file.docx" target="_blank" class="gray_link">Download file</a></div>
                    </aside>
                </section>
                
                <section class="sub_area_content">
                	<div class="sec_shape">
                    	<bdo class="shape1"></bdo>
                        <bdo class="shape2"></bdo>
                    </div>
                    
                    <aside>
                    	<h1>Glues – Adhesive Raw Materials</h1>
                        Adhesive raw materials and glues are used in flexible packaging, bonding
                        of leather and footwear and bonding of recycled flexible foam.
                        <div class="gray_link">Baalbaki offers neoprene adhesives, hot melt and PU adhesives.</div>
                        <div><a href="Dummy file.docx" target="_blank" class="gray_link">Download</a></div>
                    </aside>
                </section>
                
                <section class="sub_area_content">
                	<div class="sec_shape">
                    	<bdo class="shape1"></bdo>
                        <bdo class="shape2"></bdo>
                    </div>
                    
                    <aside>
                    	<h1>Steel Barrels</h1>
                        Baalbaki’s steel barrels come in a variety of sizes and weights ranging
                        from 30 liters to 290 liters drums. With options such as open or tight
                        head, our customers will easily find what they are looking for... All of our
                        steel barrels meet requirements for hazardous materials tailored to
                        meet market requirements. 
                        <div><a href="Dummy file.docx" target="_blank" class="gray_link">Download</a></div>
                    </aside>
                </section>
            </div>
        </div>
    </article>
</section>